{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
  <div class="table-responsive">
     <table style="width:100%">
      <tr>
         <td>Application Reference</td>
         <td>{{ node.label }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_full_name.fieldDefinition.label }}
        </td>
        <td>
          {{ node.field_application_salutation.value }}
          {{ node.field_application_full_name.value }}
        </td>
      </tr>
      <tr>
          <td>{{ node.field_application_gender.fieldDefinition.label }}</td>
          <td>{{ node.field_application_gender.value }}</td>
      </tr>
      <tr>
          <td>{{ node.field_application_dob.fieldDefinition.label }}</td>
          <td>{{ node.field_application_dob.value }}</td>
      </tr>
      <tr>
          <td>
          {{ node.field_application_place_of_birth.fieldDefinition.label }}
          </td>
          <td>{{ node.field_application_place_of_birth.value }}</td>
      </tr>
      <tr>
        <td>
        {{ node.field_application_marital_status.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_marital_status.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_mobile_number.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_mobile_number.value }}</td>
      </tr>
      <tr>
        <td>
           {{ node.field_application_email_id.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_email_id.value }}</td>
      </tr>
      <tr>
        <td>
           {{ node.field_application_disability.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_disability.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_disabled_type.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_disabled_type.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_address.fieldDefinition.label }}</td>
        <td>{{ node.field_application_address.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_college_inst.fieldDefinition.label }}
        </td>
        <td>
          {{ node.field_application_college_inst.value }}
        </td>
      </tr>
       <tr>
          <td>{{ node.field_application_branch.fieldDefinition.label }}</td>
          <td>{{ node.field_application_branch.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_degree_comp.fieldDefinition.label }}</td>
        <td>{{ node.field_application_degree_comp.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_year_degree.fieldDefinition.label }}</td>
        <td>{{ node.field_application_year_degree.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_tifr_mumbai.fieldDefinition.label }}</td>
        <td>{{ node.field_application_tifr_mumbai.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_center.fieldDefinition.label }}
        </td>
        <td>
          {{ node.field_application_applied_center.value }}
        </td>
      </tr>
      <tr>
        <td>{{ node.field_application_tifr.fieldDefinition.label }}</td>
        <td>{{ node.field_application_tifr.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_payment_mode_.fieldDefinition.label }}</td>
        <td>{{ node.field_payment_mode_.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_amount.fieldDefinition.label }}</td>
        <td>{{ node.field_application_amount.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_pay_tranc_no.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_pay_tranc_no.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_pay_recpt_no.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_pay_recpt_no.value }}</td>
      </tr>
       <tr>
        <td>
          {{ node.field_application_order_id.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_order_id.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_check_amount.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_check_amount.value }}</td>
      </tr>
      <tr>
        <td>
        {{ node.field_application_reporting_time.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_reporting_time.value }}</td>
      </tr>
      <tr>
        <td>{{ node.field_application_courses.fieldDefinition.label }}</td>
        <td>{{ node.field_application_courses.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_net.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_net.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_gate.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_gate.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_jest.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_jest.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_jam.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_jam.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_csir.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_csir.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_applied_dbt.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_applied_dbt.value }}</td>
      </tr>

      <tr>
        <td>{{ node.field_application_applied_icmr.fieldDefinition.label }}</td>
        <td>{{ node.field_application_applied_icmr.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_center_prefer.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_center_prefer.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_national.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_national.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_program.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_program.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_subj.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_subj.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_seq_no.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_seq_no.value }}</td>
      </tr>
      <tr>
        <td>
          {{ node.field_application_degree_name.fieldDefinition.label }}
        </td>
        <td>{{ node.field_application_degree_name.value }}</td>
      </tr>
    </table>
  </div>
  </div>
</article>
