<table>
  <thead>
   <tr>
    <th>Student Name</th>
    <th>Exam Application Seq No</th>
    <th>Program</th>
    <th>Total Score</th>
    <th>Email ID</th>
    <th>Your Recommendation</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td>{{ fields.field_students.content }}</td>
    <td>{{ fields.field_exam_application_seq_no.content }}</td>
    <td>{{ fields.field_e_e_program.content }}</td>
    <td>{{ fields.field_total_score.content }}</td>
    <td>{{ fields.field_application_email_id.content }}</td>
    <td>{{ fields.views_conditional_field.content }}</td>
  </tr>
 </tbody>
</table>
